<!-- The content below is only a placeholder and can be replaced.-->

<app-check (output)="fun($event)"></app-check>
<app-local-storage [strarr] = "appStrArr"></app-local-storage>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <!-- 实现todolist功能 -->
  <div id="mybody">
    <footer>
        Copyright © 2018 sunhuizhe clear
    </footer>
  </div>
</body>

